#div_clear{
    display: flex;
    justify-content: center;
}

#container{

}

.gridRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gridRow div{
    
}

.cellDiv{
    display: flex;
    justify-content: center;
}

.div_cell_hover{
    background-color: grey;
}