#header {
    display:flex;
    justify-content: center;
}

#div_clear{
    display: flex;
    justify-content: center;
}

#container{

}

.gridRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gridRow div{
    border: 1px solid black;
    
}

.cellDiv{
    display: flex;
    justify-content: center;
}

.div_cell_hover{
    background-color: grey;
}

footer{
    border-top: 1px solid black;
    position: absolute;
    bottom: 0px;
    left:0px;
    width:100%;
    display: flex;
    justify-content: center;
}